header{
    height: 200px;
    background-color: #D44E88;
}
aside{
    height: 200px;
    background-color: #EB63E2;
    width: 20%;
    float:left;
}
section{
    height: 200px;
    background-color: #B44ED4;
    width: 80%;
    float: right;
}
footer{
    height: 100px;
    background-color: #F65E5B;
    clear: both;
}
.post{
    text-align: left;
    padding: 10px;
    float: left;
}
nav{
    background-color: rgb(246, 189, 119);
    text-align: center;
}
nav li{
    list-style-type:none;
    display:inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: black;

}
nav li a:hover{
    background-color: aquamarine;
    color: white;
    transition: backgorund-color 2s linear,color 2s ease-in-out;
}