@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');
body{
    background-color: #C3B3FD;
}
/*導覽列樣式設定*/
body,ul{
    margin: 0px;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav{
    background-color: #BED1FA;
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color:white;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(246, 253, 149);
    color:rgba(217, 82, 82, 0.892);
    transition: background-color 1s linear,color 1s ease-in-out;
}

/*標題列樣式設定*/
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(180, 241, 253,80%);
}
.title{
    text-align: center;
    font-family: 'Zen Loop', cursive;
}
div li{
    list-style-type: none;

}
/*相片清單樣式設定*/
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#photolist li{
    list-style-type: none;
    margin: 10px;
}
#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;
}
#photolist .emptyitem{
    width: 200px;
}

.gotop{
    font-size: 50px;
    color: aquamarine;
    position: fixed;
    right:10px;
    bottom:10px;
}